

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: rgb(23, 23, 77);
}

li, a, button {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 18px;
    color: rgb(232, 241, 241);
    text-decoration: none;
    
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
}

.nav-links {
    list-style: none;
}
 
.nav-links li {
    display: inline-block;
    padding: 0 10px;
}

.nav-links li a {
    transition: all 0.3s ease 0;
    padding: 10px 10px 9px ;
}

.nav-links li a:hover {
    color: blue;
    background-color: aliceblue;
    border-radius: 30px;
}

button {
    padding: 10px 25px 9px ;
    background-color: rgb(240, 255, 255, 1);
    color: blue;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0;
}

button:hover {
    background-color: rgb(240, 255, 255, 0.8);
}

.intro-section {
    height: 300px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: aquamarine;
    border-radius: 20px;
}

.intro {
    background-color: aquamarine;
    margin-left: 10px;
    height: 80%;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.intro-name {
    background-color: aquamarine;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 30px;
    color: rgb(0, 2, 2);
    text-decoration: none;
    line-height: 1.5;
}

.intro a {
    left: 0;
    position: relative;
    margin-left: 0;
}

.cv-download {
    background-color: aquamarine;
    float: left;
    margin-left: 10px;
    display: flex;
    margin-top: 20px;
    
}

.image-container {
    width: 30%;
    height: 80%;
    margin: auto;
    border-radius: 100px;
    text-align: center;
    position: relative;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;  
    object-fit: contain;
    object-position: center;
    border-radius: 60px;
    overflow: hidden
    transition: transform 0.4s ease-in-out
}
.image-container img:hover {
    transform: scale(1.2);
}
