

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #0f1322;
}

li, a, button {
    font-family: 'Signika', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    color: rgb(232, 241, 241);
    text-decoration: none;
    
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
}

.nav-links {
    list-style: none;
}
 
.nav-links li {
    display: inline-block;
    padding: 0 10px;
}

.nav-links li a {
    transition: all 0.3s ease 0;
    padding: 9px 20px 9px ;
}

.nav-links li a:hover {
    color: rgb(15, 19, 34);
    background-color: rgb(132, 198, 210);
    border-radius: 10px;
    
}

button {
    padding: 10px 25px 9px ;
    background-color: rgb(236, 238, 129);
    color: #0f1322;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0;
}

button:hover {
    background-color: rgb(236, 238, 129, 0.7);
}

.Contact button {
    border-top-right-radius: 0px;
}
.intro-section {
    height: 500px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgb(132, 198, 210);
    border-radius: 20px;
}

.intro {
    background-color: #85c7d2;
    margin-left: 10px;
    height: 80%;
    width: 50%;
    display: inline-grid;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.intro-name {
    background-color: #85c7d2;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 3rem;
    color: rgb(0, 2, 2);
    text-decoration: none;
    line-height: 1.7;
}

.intro a {
    left: 0;
    position: relative;
    margin-left: 0;
}

.cv-download {
    background-color: #85c7d2;
    float: left;
    display: flex;
    margin-top: 10px;
}

.cv-download button {
    width: 100%; 
    padding: 5px auto;
    border-top-right-radius: 0;
}

.image-container {
    width: 30%;
    height: 80%;
    margin: auto;
    border-radius: 200px;
    text-align: center;
    position: relative;
    background-color: rgb(236, 238, 129);
}

.image-container img {
    max-width: 90%;
    max-height: 100%;  
    object-fit: cover;
    object-position: center;
    border-radius: 200px;
    overflow: hidden;
    transition: transform 0.4s ease-in-out;
    background-color: rgb(236, 238, 129, -6);
}
.image-container img:hover {
    transform: scale(1.2);
}

.section-2 {
    height: 200px;
    width: 80%;
    margin: auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.prof-exp {
    width: 50%;
    height: 90%;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.prof-exp h3 {
    font-size: 5rem;
    font-family: 'Signika', sans-serif;
    font-weight: 800;
    color: whitesmoke;
    line-height: 1.3;
    letter-spacing: 4px;
    flex-wrap: wrap ;
    margin-left: 30px;
}

.section-2 div a {
    color: rgb(23, 23, 77);
    margin: auto;
    text-align: center;
   
}
.section-2 div a p {
    color: rgb(23, 23, 77);
    font-size: 2.3rem;
    margin: auto;
    text-align: center;
    font-family: 'Signika', sans-serif;
    font-weight: 700;
    line-height: 1.5;
}

.section-2 div a .p-no {
    font-size: 4rem;
}

.project-box {
    background-color: rgb(236, 193, 164);
    height: 90%;
    width: 20%;
    border-radius: 10px;
    display: flex;
    align-items: center;
}



.project-box p {
    background-color: rgb(236, 193, 164);
}


.project-box:hover {
    background-color: rgb(236, 193, 164, 0.8)
}

.project-box:hover p {
    background-color: rgb(236, 193, 164, 0.8)
}



.client-box {
    background-color: rgb(184, 191, 255);
    height: 90%;
    width: 20%;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.client-box p {
    background-color: rgb(184, 191, 255);
}

.client-box:hover {
    background-color: rgb(184, 191, 255, 0.8);
}

.client-box:hover p{
    background-color: rgb(184, 191, 255, 0.8);
}

.section-3 {
    height: 400px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-container2 {
    width: 40%;
    height: 80%;
    border-radius: 100px;
    text-align: center;
    position: relative;
    margin-left: 40px;
}
.image-container2 img {
    width: 100%;
    height: 100%;  
    object-fit: contain;
    object-position: center;
    border-radius: 60px;
    overflow: visible;
    transition: transform 0.4s ease-in-out;
    background-color: aliceblue;
}

.about-me {
    height: 80%;
    width: 50%;
}

.about-me h3 {
    color: aliceblue;
    font-size: 2.5rem;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 2;
}

.about-me div {
    height: 15%;
    width: 100%;
    background-color: #85c7d2;
    border-radius: 10px;
    margin: 25px;
    padding: 10px;
}

.about-me div a {
    background-color: #85c7d2;
    font-size: 1.5rem;
    color: blue;
    border-radius: 20px;
    line-height: 1.3;
    margin-left: 30px;
    display: block ;
}

.exp:hover {
    font-style: italic;
    text-decoration: underline;
}